<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <appender name="UploadLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!---->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志文件名-->
      <file type="log4net.Util.PatternString" value="D:\LogFile\LaborAndSocialSecurity\UploadLog\Upload.log" />
      <!--文件的编码-->
      <encoding value="utf-8" />
      <!--日期的格式-->
      <datePattern value="yyyyMMdd" />
      <!--是否在文件中追加-->
      <appendToFile value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="100MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="false" />
      <!--保持文件后缀-->
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\LogFile\LaborAndSocialSecurity\DebugLog\Error.log" />
      <encoding value="utf-8" />
      <datePattern value="yyyyMMdd" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="500MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-30date%message%newline" />
      </layout>
    </appender>
    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!---->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志文件名-->
      <file type="log4net.Util.PatternString" value="D:\LogFile\LaborAndSocialSecurity\DebugLog\Debug.log" />
      <!--文件的编码-->
      <encoding value="utf-8" />
      <!--日期的格式-->
      <datePattern value="yyyyMMdd" />
      <!--是否在文件中追加-->
      <appendToFile value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <rollingStyle value="Composite" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="-1" />
      <!--最大文件大小-->
      <maximumFileSize value="100MB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="false" />
      <!--保持文件后缀-->
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-30date%message%newline" />
      </layout>
    </appender>

    <appender name="TeamInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\LogFile\LaborAndSocialSecurity\UploadedInfo\Team.csv" />
      <encoding value="utf-8" />
      <datePattern value="yyyyMMdd" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="500MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="WorkerInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\LogFile\LaborAndSocialSecurity\UploadedInfo\Worker.csv" />
      <encoding value="utf-8" />
      <datePattern value="yyyyMMdd" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="500MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
    </root>
    <logger name="LaborAndSocialSecurity.Utils.LogUtils">
      <appender-ref ref="UploadLogFileAppender" />
    </logger>
    <logger name="LaborAndSocialSecurity.Utils.LogUtils4Team">
      <appender-ref ref="TeamInfoFileAppender" />
    </logger>
    <logger name="LaborAndSocialSecurity.Utils.LogUtils4Error">
      <appender-ref ref="ErrorLogFileAppender" />
    </logger>
    <logger name="LaborAndSocialSecurity.Utils.LogUtils4Debug">
      <appender-ref ref="DebugLogFileAppender" />
    </logger>
    <logger name="LaborAndSocialSecurity.Utils.LogUtils4Worker">
      <appender-ref ref="WorkerInfoFileAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="ARDB_ConnectString" value="Data Source=127.0.0.1,14330;Initial Catalog=EZStatisStaff;Persist Security Info=True;User ID=sa;Password=dell@2016123456"/>-->
    <add key="ARDB_ConnectString" value="Data Source=DESKTOP-MU5UCUS\MSSQLSERVER2012;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=sw"/>
  </appSettings>
</configuration>